<!--@using DiscussionSheetApp.Areas.Toolbox.ViewModel
@model CREAbilityToPayResults

<div>
    @{ 
        Html.RenderPartial("_CREAbilityToPayInputForm", Model);
    }-->

    @*@Html.Partial("_CREAbilityToPayInputForm")*@
    <!--<div>-->
        @*<p>Net Operating Income: @Model.NetOperatingIncome</p>
        <p>Second Year Net Operating Income: @Model.SecondYENetOperatingIncome</p>*@

        <!--<table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Results</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Income</th>
                    <th scope="col">Net Operating Income: @Model.NetOperatingIncome</th>
                    <th scope="col">Second Year Net Operating Income: @Model.SecondYENetOperatingIncome</th>
                </tr>
                
            </tbody>
        </table>

    </div>

</div>-->